
<table>	
<tr>
	<td>Потребител: <?php print $username?></td>
</tr>
<tr>
	<td>Име: <?php print $firstName?></td>
</tr>
<tr>	
	<td>Фамилия: <?php print $lastName?></td>
</tr>
<tr>
	<td>Държава: <?php print $country?></td>
</tr>	
<tr>	
	<td>Фотоапарат: <?php print $camera?></td>
</tr>	
<tr>	
	<td>Обективи: <?php print $lenses?></td>
</tr>
<?php print $edit?>
</table>
<table align = center>
<tr>
<td><a class="inner" href="index.php?cmd=ownPics&pg=1">Снимки на автора</td>
</tr>
<tr>
<td><a class="inner" href="index.php?cmd=ownComments&pg=1">Коментари на автора</td>
</tr>
</table>

